
{% extends 'base.html' %}
{% block content %}

    <!-- Form -->
  <div class="container">
    <form action="/svm" method="POST">

      
  
      <div class="row">
        <div class="column">
      <label for="Number One">Games_played</label>
      <input
        type="text"
        placeholder="Games_played"
        class="u-full-width"
        name="num1"
      />
      <br>

      <label for="Number Two">Minutes_played</label>
      <input
        type="text"
        placeholder="Minutes_played"
        class="u-full-width"
        name="num1"
      />

      <br>
      
      <label for="Number Two">Points_per_game</label>
      <input
        type="text"
        placeholder="Points_per_game"
        class="u-full-width"
        name="num1"
      />
    

      <br>

      <label for="Number Two">Fields_Goals_Made</label>
      <input
        type="text"
        placeholder="Fields_Goals_Made"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Fields_Goals_Attempts</label>
      <input
        type="text"
        placeholder="Fields_Goals_Attempts"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Fields_Goals_Percent</label>
      <input
        type="text"
        placeholder="Fields_Goals_Percent"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">3_Points_Made</label>
      <input
        type="text"
        placeholder="3_Points_Made"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">3_Points_Atempts</label>
      <input
        type="text"
        placeholder="3_Points_Atempts"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">3_Points_Percent</label>
      <input
        type="text"
        placeholder="3_Points_Percent"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Free_Throw_Made</label>
      <input
        type="text"
        placeholder="Free_Throw_Made"
        class="u-full-width"
        name="num1"
      />
    </div>
    <div class="column">
     

      <label for="Number Two">Free_Throw_Attempts</label>
      <input
        type="text"
        placeholder="Free_Throw_Attempts"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Free_Throw_Percent</label>
      <input
        type="text"
        placeholder="Free_Throw_Percent"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Offensive_Rebounds</label>
      <input
        type="text"
        placeholder="Offensive_Rebounds"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Defensive_Rebounds</label>
      <input
        type="text"
        placeholder="Defensive_Rebounds"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Rebounds</label>
      <input
        type="text"
        placeholder="Rebounds"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Assists</label>
      <input
        type="text"
        placeholder="Assists"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Steals</label>
      <input
        type="text"
        placeholder="Steals"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Blocks</label>
      <input
        type="text"
        placeholder="Blocks"
        class="u-full-width"
        name="num1"
      />

      <br>

      <label for="Number Two">Turnovers</label>
      <input
        type="text"
        placeholder="Turnovers"
        class="u-full-width"
        name="num1"
      />

      <br>

      <input type="submit" value="Predict" id="calc_btn" />
      <br />
<h3> {{sum}}</h3>
      
    </form>
  </div>   
    </div>
  {% endblock %}